@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
/*-----------------------*/
body {
  font-family: 'Rubik', sans-serif;
  font-size: 12px;
  color: #616161;
}

.wrapper {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  position: relative;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

[class*="__container"] {
  max-width: 1057px;
  margin: 0 auto;
}

/*-----------------------*/
.button {
  font-family: 'Raleway', sans-serif;
  display: block;
  width: 130px;
  height: 40px;
  font-size: 10px;
  font-weight: 900;
  color: #fff;
  text-align: center;
  line-height: 40px;
  letter-spacing: 1.4px;
  background-color: #EC5863;
  border-radius: 5px;
}

.button_blue {
  background-color: #4285F4;
}

.block__title {
  color: #000;
  font-size: 44px;
  font-weight: 700;
  margin-bottom: 12px;
  line-height: 1.26;
}

.block__text {
  max-width: 365px;
  margin-bottom: 24px;
  line-height: 1.38;
  letter-spacing: 0.96px;
}

.blueword {
  color: #4285F4;
}

.redword {
  color: #EC5863;
}

/*-----------------------*/
.header {
  height: 204px;
  font-family: 'Raleway', sans-serif;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header__logo {
  display: block;
  margin: 0 100px 0 0;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 37px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.menu__item {
  margin: 0 40px 0 0;
}

.menu__item:last-child {
  margin: 0;
}

.menu__link {
  color: #000;
  font-weight: 700;
}

/*-----------------------*/
.main__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 150px 0 0 0;
  min-height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}

.main__welcome {
  background-color: #FAFBFD;
  position: relative;
}

.main__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  z-index: 10;
}

.main__video {
  margin: 50px 0 0 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  z-index: 10;
}

.main__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  z-index: 10;
}

.main__image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.main .main__container::before {
  content: "";
  position: absolute;
  height: 100%;
  background-color: #EC5863;
  width: 100vw;
  top: 0;
  right: 260px;
  border-radius: 30px;
  -webkit-transform: translate(100%, 0);
          transform: translate(100%, 0);
  z-index: 0;
}

.watch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.watch__button {
  margin-right: 12px;
}

.watch__text {
  padding: 6px 0;
}

.watch__title {
  font-size: 13px;
  color: #B0B0B0;
}

.watch__subtitle {
  display: block;
  font-size: 9px;
  margin-top: 5px;
  text-transform: uppercase;
  color: #000;
}

/*-----------------------*/
.staysafe__body {
  padding: 150px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 30px;
}

.staysafe__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  position: relative;
}

.staysafe__block {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  margin: 0 0 0 70px;
}

.app__image::before {
  content: "";
  position: absolute;
  width: 147px;
  height: 147px;
  background-color: #EC5863;
  top: 0;
  left: 0;
  border-radius: 30px;
  z-index: 1;
}

.app__image::after {
  content: "";
  position: absolute;
  width: 77px;
  height: 77px;
  background-color: #EC5863;
  bottom: -10px;
  left: 40px;
  border-radius: 30px;
  z-index: 1;
}

.app__screen {
  position: relative;
  display: inline-block;
  width: 229px;
  height: 459px;
  border-radius: 16px;
  background-color: gray;
  margin: 56px 38px 27px 70px;
  z-index: 10;
}

.app__screen::after {
  content: "";
  position: absolute;
  height: 27px;
  width: 205px;
  background-color: #f0f0f07e;
  bottom: -12px;
  left: 12px;
  border-radius: 16px;
  z-index: -1;
}

.app__screen::before {
  content: "";
  position: absolute;
  width: 77px;
  height: 77px;
  background-color: #EC5863;
  bottom: 92px;
  right: -38px;
  border-radius: 30px;
  z-index: 1;
}

.app__gocorona {
  -webkit-box-shadow: 2px 4px 32px rgba(0, 0, 0, 0.122);
          box-shadow: 2px 4px 32px rgba(0, 0, 0, 0.122);
  position: relative;
  z-index: 15;
}

/*-----------------------*/
.experts {
  background-color: #FAFBFD;
  padding: 0 0 150px 0;
}

.experts__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.experts__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.experts__block {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.experts__video {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0 0 28% 0;
  position: relative;
  -webkit-box-shadow: 2px 4px 32px rgba(0, 0, 0, 0.336);
          box-shadow: 2px 4px 32px rgba(0, 0, 0, 0.336);
}

.experts__startvideo {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.statistics {
  margin: 0 auto;
  padding: 150px 0;
  position: relative;
}

.statistics__body {
  width: 654px;
  height: 117px;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 24px rgba(0, 0, 0, 0.111);
          box-shadow: 0 2px 24px rgba(0, 0, 0, 0.111);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-radius: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 10;
}

.statistics__cube {
  position: absolute;
  background-color: #EC5863;
  border-radius: 30px;
  z-index: 1;
}

.statistics__cube_small {
  border-radius: 16px;
  width: 66px;
  height: 66px;
  top: 220px;
  left: -20px;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
}

.statistics__cube_medium {
  width: 97px;
  height: 97px;
  top: 100px;
  left: 240px;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
}

.statistics__cube_big {
  width: 127px;
  height: 127px;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
  top: 150px;
  right: -40px;
}

.item__value {
  font-size: 36px;
  color: #EC5863;
  margin-bottom: 8px;
  font-weight: 700;
  text-align: center;
}

.item__text {
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
  letter-spacing: 37%;
  text-align: center;
}

/*-----------------------*/
.healthcare__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 100px 0 200px 0;
}

.healthcare__body {
  margin: 50px 0 0 0;
}

.healthcare__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 70px;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 0 30px;
}

.block__title_centered {
  text-align: center;
}

.block__text_centered {
  max-width: 600px;
  text-align: center;
  margin: 0 auto;
}

.carditem {
  position: relative;
  background-color: #fff;
  max-width: 280px;
  min-height: 277px;
  -webkit-box-shadow: 0 4px 18px rgba(0, 0, 0, 0.185);
          box-shadow: 0 4px 18px rgba(0, 0, 0, 0.185);
  border-radius: 8px;
}

.carditem__content {
  margin: 58px 18px 30px 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.carditem__image {
  margin: 0 auto;
  padding-bottom: 58px;
  display: block;
}

.carditem__title {
  text-align: center;
  font-size: 16px;
  color: #000;
  font-weight: 700;
}

.carditem__text {
  margin-top: 10px;
  text-align: center;
  font-size: 12px;
  line-height: 1.4;
}

.carditem_1::after, .carditem_1::before, .carditem_2::after, .carditem_3::after {
  content: "";
  position: absolute;
  z-index: -1;
  background-color: #EC5863;
}

.carditem_1::after {
  width: 66px;
  height: 66px;
  bottom: -30px;
  left: -20px;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
  border-radius: 16px;
}

.carditem_1::before {
  width: 97px;
  height: 97px;
  top: 40px;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
  right: -50px;
  border-radius: 30px;
}

.carditem_2::after {
  width: 127px;
  height: 127px;
  bottom: -30px;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
  right: -80px;
  border-radius: 30px;
}

.carditem_3::after {
  width: 66px;
  height: 66px;
  top: -30px;
  right: -20px;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
  border-radius: 16px;
}

/*-----------------------*/
.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 0 50px 0;
  gap: 40px;
}
