// Обнуление стилей
@import "nullstyle.scss";
// Подключение шрифтов
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap'); //font-family: 'Rubik', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700;800&display=swap'); //font-family: 'Raleway', sans-serif;
//SCSS


/*-----------------------*/
body{
    font-family: 'Rubik', sans-serif;
    font-size: 12px;
    color: #616161;
}
.wrapper{ 
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    position: relative;
}
.main{
    flex: 1 1 auto;
}
[class*="__container"]{
    max-width: 1057px;
    margin: 0 auto;
}
/*-----------------------*/
.button {
    font-family: 'Raleway', sans-serif;
    display: block;
    width: 130px;
    height: 40px;
    font-size: 10px;
    font-weight: 900;
    color: #fff;
    text-align: center;
    line-height: 40px;
    letter-spacing: 1.4px;
    background-color: #EC5863;
    border-radius: 5px;
		&_blue {
            background-color: #4285F4;
		}
}
.block {
    &__title {
        color: #000;
        font-size: 44px;
        font-weight: 700;
        margin-bottom: 12px;
        line-height: 1.26;
    }
    &__text {
        max-width: 365px;
        margin-bottom: 24px;
        line-height: 1.38;
        letter-spacing: 0.96px;
        
    }
}
.blueword{
    color: #4285F4;
}
.redword{
    color: #EC5863;
}
/*-----------------------*/
.header {
    height: 204px;
    font-family: 'Raleway', sans-serif;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
	&__logo {
        display: block;
        margin: 0 100px 0 0;
    }
    &__container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 37px;
        align-items: center;
    }
}
.menu {
		&__list {
            display: flex;
            flex-direction: row;
		}
		&__item {
            margin: 0 40px 0 0;
            &:last-child{
                margin: 0;
            }
		}
		&__link {
            color: #000;
            font-weight: 700;
		}
}
/*-----------------------*/
.main {
    &__container {
        display: flex;
        padding: 150px 0 0 0;
        min-height: 100vh;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: row;
        position: relative;
    }
    &__welcome {
        background-color: #FAFBFD;
        position: relative;
        
    }
    &__body {
        flex: 0 1 50%;
        z-index: 10;
    }
    &__video {
        margin: 50px 0 0 0;
        flex: 1 1 auto;
        z-index: 10;
    }
    &__image {
        flex: 0 1 50%; 
        z-index: 10;
        img{
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    .main__container::before {
        content: "";
        position: absolute;
        height: 100%;
        background-color: #EC5863;
        width: 100vw;
        top: 0;
        right: 260px;
        border-radius: 30px;
        transform: translate(100%, 0);
        z-index: 0;
    }
}
.watch {
    display: flex;
    &__button {
        margin-right: 12px;
    }
    &__text{
        padding: 6px 0;
    }
    &__title {
    font-size: 13px;
    color: #B0B0B0;
    }

    &__subtitle {
        display: block;
        font-size: 9px;
        margin-top: 5px;
        text-transform: uppercase;
        color: #000;
    }
}
/*-----------------------*/
.staysafe {
    &__body {
        padding: 150px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 30px;   
    }
    &__image {
        flex: 0 1 50%;      
        position: relative;
    }
    &__block {
        flex: 0 1 50%; 
        margin: 0 0 0 70px;
    }
}
.app {
    &__image {
        &::before{
            content: "";
            position: absolute; 
            width: 147px;
            height: 147px;
            background-color: #EC5863;
            top: 0;
            left: 0;
            border-radius: 30px;
            z-index: 1;
        }
        &::after{
            content: "";
            position: absolute;
            width: 77px;
            height: 77px;
            background-color: #EC5863;
            bottom: -10px;
            left: 40px;
            border-radius: 30px;
            z-index: 1;
        }
    }
    &__screen{
        position: relative;
        display: inline-block;
        width: 229px;
        height: 459px;
        border-radius: 16px;
        background-color: rgb(128, 128, 128);
        margin: 56px 38px 27px 70px;
        z-index: 10;
        &::after{
            content: "";
            position: absolute;
            height: 27px;
            width: 205px;
            background-color: #f0f0f07e;
            bottom: -12px;
            left: 12px;
            border-radius: 16px;
            z-index: -1;
        }
        &::before{
            content: "";
            position: absolute;
            width: 77px;
            height: 77px;
            background-color: #EC5863;
            bottom: 92px;
            right: -38px;
            border-radius: 30px;
            z-index: 1;
        }
    }
    &__gocorona{
        box-shadow: 2px 4px 32px rgba(0, 0, 0, 0.122);
        position: relative;
        z-index: 15;
    }
}
/*-----------------------*/
.experts {
    background-color: #FAFBFD;
    padding: 0 0 150px 0;
    &__container {
        display: flex;
        flex-direction: column;
    }
    &__about {   
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    &__block {
        flex: 0 1 50%; 
    }

    &__video {
        flex: 0 1 50%; 
        padding: 0 0 28% 0;
        position: relative;
        box-shadow: 2px 4px 32px rgba(0, 0, 0, 0.336);
    }
    &__startvideo {
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
}
.statistics {
    margin: 0 auto;
    padding: 150px 0;
    position: relative;
    &__body {
        width: 654px;
        height: 117px;
        background-color: #fff;
        box-shadow: 0 2px 24px rgba(0, 0, 0, 0.111);
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        border-radius: 16px;
        align-items: center;
        position: relative;
        z-index: 10;
    }
    &__cube {
        position: absolute;
        background-color: #EC5863;
        border-radius: 30px;
        z-index: 1;
        &_small {
            border-radius: 16px;
            width: 66px;
            height: 66px;
            top: 220px;
            left: -20px;
            transform: rotate(-30deg);
        }
        &_medium {
            width: 97px;
            height: 97px;
            top: 100px;
            left: 240px;
            transform: rotate(15deg);
        }
        &_big {
            width: 127px;
            height: 127px;
            transform: rotate(-30deg);
            top: 150px;
            right: -40px;
        }
    }
}
.item {
    &__value {
        font-size: 36px;
        color: #EC5863;
        margin-bottom: 8px;
        font-weight: 700;
        text-align: center;
    }
    &__text {
        font-size: 11px;
        font-weight: 700;
        text-transform: uppercase;
        color: #000;
        letter-spacing: 37%;
        text-align: center;
    }
}
/*-----------------------*/
.healthcare {
    &__container {
        display: flex;
        flex-direction: column;
        padding: 100px 0 200px 0;
    }
    &__body {
        margin: 50px 0 0 0;
    }
    &__cards {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 70px;
        align-content: center;
        padding: 0 30px;
    }
}
.block {
    &__title {
        &_centered {
            text-align: center;
        }
    }
    &__text {
        &_centered {
            max-width: 600px;
            text-align: center;
            margin: 0 auto;
        }
    }
}

.carditem {
    position: relative;
    background-color: #fff;
    max-width: 280px;
    min-height: 277px;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.185);
    border-radius: 8px;
    &__content{
        margin: 58px 18px 30px 18px;
        display: flex;
        flex-direction: column;
    }
    &__image {
        margin: 0 auto;
        padding-bottom: 58px;
        display: block;
    }

    &__title {
        text-align: center;
        font-size: 16px;
        color: #000;
        font-weight: 700;
    }

    &__text {
        margin-top: 10px;
        text-align: center;
        font-size: 12px;
        line-height: 1.4;
    }
}
.carditem_1::after, .carditem_1::before, .carditem_2::after, .carditem_3::after{
    content: "";
    position: absolute;
    z-index: -1;
    background-color: #EC5863;
}
.carditem_1::after {
    width: 66px;
    height: 66px;
    bottom: -30px;
    left: -20px;
    transform: rotate(-30deg);
    border-radius: 16px;
}
.carditem_1::before {
    width: 97px;
    height: 97px;
    top: 40px;
    transform: rotate(15deg);
    right: -50px;
    border-radius: 30px;
}
.carditem_2::after{
    width: 127px;
    height: 127px;
    bottom: -30px;
    transform: rotate(-30deg);
    right: -80px;
    border-radius: 30px;
}
.carditem_3::after{
    width: 66px;
    height: 66px;
    top: -30px;
    right: -20px;
    transform: rotate(-30deg);
    border-radius: 16px;
}
/*-----------------------*/
.footer {
    &__links {
        display: flex;
        position: absolute;
        bottom: 0;
        left: 0;
        align-items: center;
        justify-content: center;
        width: 100%;
        flex-wrap: wrap;
        padding: 0 0 50px 0;
        gap: 40px;
    }
    &__apple {
    }

    &__google {
    }
}


